<div id="<%= dom_id room_type %>">
  <p>
    <strong>Name:</strong>
    <%= room_type.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room_type.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room_type.description %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= room_type.capacity %>
  </p>

</div>
