<div id="<%= dom_id room %>">
  <p>
    <strong>Room number:</strong>
    <%= room.room_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= room.status %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= room.hotel.name %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= room.room_type.name %>
  </p>

</div>
